<%= render "helpers/bread", index: business_path, iname: "#{@business.name}", current: "Editar" %>
<section class="card">
  <div class="card-header py-3 px-3">
    <h4>
      <strong>Centro de trabajo</strong>
    </h4>
  </div>
  <div class="card-body px-5">
    <%= render 'form_edit', business: @business %>
  </div>
</section>


