<style>
    div.card {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .mis-btn {
        width: 100%;
        border-radius: 20px;
        background-color: #AB51D6;
        border-color: #AB51D6;
    }

    .logo {
        align-self: center;
        width: 10%;
    }
</style>
<div class="auth-content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card px-3 px-md-0">
                <img src="<%= asset_path("theme/system/logo_login.png") %>" class="logo" alt="">
                <div class="col-sm-10 offset-sm-1">
                    <h2 style="margin-left: -1rem;">Centro de trabajo</h2>
                    <p style="margin-left: -1rem;">Formulario para el programa de becarios</p>
                    <%= render 'form', business: @business %>
                </div>
            </div>
        </div>
    </div>
</div>