<div class="card" style="padding: 5rem;">
    <h1 class="text-center align-middle display-2">Enfoque</h1>
    <p class="text-center lead">Gestión de programa de becarios</p>

    <div class="row">
        <div class="col text-center">
            <p>Centro de trabajo registrado correctamente</p>
        </div>
    </div>
</div>
    