<div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">

    <!-- Menu -->
    <ul class="navigation-left">
        <li class="nav-item">
            <a class="nav-item-hold" href="/">
                <i class="nav-icon i-Bar-Chart"></i>
                <span class="nav-text">Inicio</span>
            </a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item">
            <a class="nav-item-hold" href="/">
                <i class="nav-icon i-Bar-Chart"></i>
                <span class="nav-text">Perfíl</span>
            </a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item" data-item="events">
            <a class="nav-item-hold" href="#">
                <i class="nav-icon i-Checked-User"></i>
                <span class="nav-text">Eventos</span>
            </a>
            <div class="triangle"></div>
        </li>
    </ul>
</div>

<!-- Submenu -->
<div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
    <ul class="childNav" data-parent="events">
        <li class="nav-item">
            <a href="/employees">
                <i class="nav-icon i-Receipt-4"></i>
                <span class="item-name">Ver Eventos</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/employees/new">
                <i class="nav-icon i-Add-File"></i>
                <span class="item-name">Nuevo Evento</span>
            </a>
        </li>        
    </ul>
</div>