<ul class="side-menu-list">
 	 <li class="grey">
        <a href="/">
            <i class="font-icon font-icon-dashboard"></i>
            <span class="lbl">Dashboard</span>
        </a>
    </li>

    <li class="blue with-sub">
        <span>
            <i class="font-icon font-icon-user"></i>
            <span class="lbl">Usuarios</span>
        </span>
        <ul>
            <li><a href="/"><span class="lbl">Admins</span></a></li>
            <li><a href="/"><span class="lbl">Más Admins</span></a></li>
            <li><a href="/"><span class="lbl">Otros Admins</span></a></li>	                
        </ul>
    </li>

    <li class="red with-sub">
        <span>
            <i class="font-icon font-icon-contacts"></i>
            <span class="lbl">Clientes</span>
        </span>
        <ul>
            <li><a href="/"><span class="lbl">Ver Clientes</span></a></li>
            <li><a href="/"><span class="lbl">Nuevo Cliente</span></a></li>
        </ul>
    </li>

     <li class="green with-sub">
        <span>
            <i class="font-icon font-icon-notebook"></i>
            <span class="lbl">Facturas</span>
            <span class="label label-custom label-pill label-danger">35</span>
        </span>
        <ul>
            <li><a href="/"><span class="lbl">Ver Facturas</span></a></li>
            <li><a href="/"><span class="lbl">Nueva Factura</span></a></li>
        </ul>
    </li>

    <li class="pink with-sub">
        <span>
            <i class="font-icon font-icon-help"></i>
            <span class="lbl">Dummies</span>
        </span>
        <ul>
            <li><a href="/dummies"><span class="lbl">Ver Dummies</span></a></li>
            <li><a href="/dummies/new"><span class="lbl">Nuevo Dummy</span></a></li>
        </ul>
    </li>
</ul>
  