<div class="row">
    <h2 class="ml-3">Bienvenido</h2>
    <p class="col-12">Lectura de datos relevantes y accesos rápidos.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">

                <div class="row">
                    <!-- ICON BG-->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center"><i class="i-Add-User"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Becarios aceptados</p>
                                    <p class="text-primary text-24 line-height-1 mb-2"> <%=Applicant.where(status: 1).length%> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center"><i class="i-Find-User"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Becarios nuevos</p>
                                    <p class="text-primary text-24 line-height-1 mb-2"> <%=Applicant.where(status: 0).length%> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <!-- ICON BG-->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center"><i class="i-Money"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Negocios aceptados</p>
                                    <p class="text-primary text-24 line-height-1 mb-2"> <%=Business.where(status: 1).length %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                            <div class="card-body text-center"><i class="i-Money-2"></i>
                                <div class="content">
                                    <p class="text-muted mt-2 mb-0">Negocios nuevos</p>
                                    <p class="text-primary text-24 line-height-1 mb-2"> <%=Business.where(status: 0).length %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>