<div class="card" style="padding: 5rem;">
    <h1 class="text-center align-middle display-2">MIS</h1>
    <p class="text-center lead">More Information For Students</p>

    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary" href="/users/sign_in" role="button">Iniciar Sesión</a>
            <a class="btn btn-primary" href="/register" role="button">Registrarme</a>
        </div>
    </div>
</div>
    