<% extra ||= "none" %>
<% extra_data = extra.gsub(" ", "_") %>
<div id="data-container" data-controller=<%= controller %> data-name=<%= name %> data-gender=<%= gender %> data-extra=<%= extra_data %>
>
</div>