<% email ||= "" %>
<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="form-text-block warning">
      <ul>
        <li>Se ha solicitado el cambio de correo electrónico, pero es necesario confirmar la nueva dirección. Por favor revise su bandeja de entrada y siga las instrucciones.</li>
        <li>Correo en espera de confirmación: <b><%= email %></b></li>
      </ul>
    </div>
  </div>
</div>