<% field ||= "" %>
<% object ||= "" %>
<% label ||= "Campo" %>
<% div_id ||= field+"_id" %>
<% visible ||= "all" %>
<% accept ||= "image/jpeg,image/png,application/pdf" %>

<div class="form-group row">
  <label class="col-sm-2 form-control-label"><%= label %></label>
  <div class="col-lg-6 col-md-8 col-sm-10">
    <%= f.file_field field, :accept => accept, multiple: true %>
  </div>
</div>