<% id ||= 0 %>
<li>
	<a href="javascript:void(0)" data-id=<%= "#{id}"%> class="btn btn-primary btn-icon m-1" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="cxlBcAeRfSaGAweWadx($(this))" >
		<span class="ul-btn__icon"><i class="nav-icon i-Close-Window font-weight-bold"></i></span>              
	</a>
</li>