<% edit ||= "#" %>
<li>
	<a href="<%= edit %>" class="btn btn-primary btn-icon m-1" data-toggle="tooltip" data-placement="top" title="Editar" > 
		<span class="ul-btn__icon"><i class="nav-icon i-Pen-2 font-weight-bold"></i></span>              
	</a>
</li>