<% field ||= "" %>
<% label ||= "Campo" %>
<% pholder ||= "Ingrese" %>
<% req ||= false %>

<div class="form-group row">
	<label class="col-sm-2 form-control-label"><%= label %>
		<% if req %>
			<span class="color-red">*</span>
		<% end %>
	</label>
	<div class="col-lg-6 col-md-8 col-sm-10 pass">
  		<%= f.password_field field, :class=> "form-control hide-show-password", placeholder:pholder, required:req %>
	</div>
</div>