<% email ||= "" %>
<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="form-text-block warning">
      <ul>
        <li>Se ha solicitado el cambio de correo electr贸nico, pero es necesario que el usuario confirme la nueva direcci贸n, siguiendo las instrucciones enviadas a la nueva direcci贸n de correo.</li>
        <li>Correo en espera de confirmaci贸n: <b><%= email %></b></li>
      </ul>
    </div>
  </div>
</div>