<% id ||= 0 %>
<% blank ||= false %>
<% path ||= "/" %>


<button type="button" class="btn btn-info " 
  onclick="MvhmpjkgasdQglPath($(this))" data-id=<%= "#{id}" %> data-blank=<%= "#{blank}" %> data-path=<%= path %> >
  <i class="nav-icon i-Eye1 font-weight-bold"></i>
</button>