<% id ||= 0 %>
<% blank ||= false %>
<% verb ||= "edit" %>

<div class="tabledit-toolbar btn-toolbar">
  <div class="btn-group btn-group-sm">
    <button type="button" class="tabledit-view-button btn btn-sm btn-default" 
      onclick="MvhmpjkgasdQgl($(this))" data-id=<%= "#{id}" %> data-blank=<%= "#{blank}" %> >
      <span class="font-icon-eye"></span>
    </button>
    <button type="button" class="tabledit-edit-button btn btn-sm btn-default"
      onclick="xxvkSdfDkbd($(this))" data-id=<%= "#{id}" %> data-verb=<%= "#{verb}" %> >
      <span class="font-icon-pencil"></span>
    </button>
  </div>
</div>

