<% n ||= "" %>
<% v ||= "" %>
<div class="form-group row">
	<label class="col-sm-2 form-control-label"><%= n %></label>
	<div class="col-lg-6 col-md-8 col-sm-10">
  		<p class="form-control-static"><input type="text" readonly class="form-control" value="<%= v %>" >
	</div>
</div>