<h2>Hola <b><%= @resource.short_fullname %></b></h2>
<p>Alguien ha solicitado la modificación de tu contraseña de acceso al sistema de administración de Gestión Global. Puedes hacer la modificación usando el siguiente link: </p>
<p><%= link_to 'MODIFICAR MI CONTRASEÑA', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no has solicitado el cambio, por favor ignora éste mensaje.</p>

<p>Tu contraseña no cambiará hasta que accedas al link anterior y se genere una nueva.</p>