<div class="dropdown-item d-flex">
    <div class="notification-icon">
        <i class="i-Speach-Bubble-6 text-primary mr-1"></i>
    </div>
    <div class="notification-details flex-grow-1">
        <p class="m-0 d-flex align-items-center">
            <span>Nuevo mensaje</span>
            <span class="badge badge-pill badge-primary ml-1 mr-1">nuevo</span>
            <span class="flex-grow-1"></span>
            <span class="text-small text-muted ml-auto">hace 10 segs.</span>
        </p>
        <p class="text-small text-muted m-0">Ejemplo del mensaje</p>
    </div>
</div>